
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/codecoverage/
###< symfony/framework-bundle ###
.idea
.vscode
###> symfony/phpunit-bridge ###
.phpunit
composer.lock
symfony.lock
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
