{% extends is_granted('ROLE_ADMIN') == false ? 'base.html.twig' : 'admin/admin.html.twig' %}

{% block title %}{% trans %}account.data{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper-login">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}