{% extends 'base.html.twig' %}

{% block title %}{% trans %}Enter a new password{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="text-center">{% trans %}Enter a new password{% endtrans %}</h1>
    <div class="change-forgot-password">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}